@inject IWebHostEnvironment env
@{
    ViewData["Title"] = "Articles";
    ViewData["Author"] = "Jonathan Daigle";
    ViewData["Modified"] = "2024-06-11";
    List<MDArticleModel> parsedArticles = new List<MDArticleModel>();
    string rootPath = System.IO.Path.Combine(env.ContentRootPath, "wwwroot", "Articles");
    parsedArticles = MDArticleModel.GetArticles(rootPath);
    Dictionary<string, List<MDArticleModel>> Nested = new();
}
<ul class="blocklist singlecolumn">
@foreach (MDArticleModel parsedArticle in parsedArticles.OrderBy(x => x.Title)) {
    if (!string.IsNullOrWhiteSpace(parsedArticle.Name))
    {
        bool? value = (bool?)ViewData["article_" + parsedArticle.Name];
        if (value != null && (bool)value)
        {
            parsedArticle.Read = true;
        }
    }


    string path = parsedArticle.Path;

    // Fixes the trailing slash bug, there has to be another way to do this
    if (!System.IO.Path.EndsInDirectorySeparator(Context.Request.Path)) {
        path = "Articles/" + path;
    }
    string stub = System.IO.Path.GetDirectoryName(parsedArticle.Path) ?? string.Empty;

    if (!Nested.ContainsKey(stub)) {
        Nested.Add(stub, new List<MDArticleModel>());
    }
    Nested[stub].Add(parsedArticle);
}

@foreach (string key in Nested.Keys.Order())
{
    if (key != string.Empty)
    {
        // This syntax needed for conditionals with unclosed tags
        @:<details>

        <summary id="@key.ToLower()" class="onclick">
            <h2>@key</h2>
        </summary>
    }

    @foreach (var item in Nested[key])
    {
        string path = item.Path;
        if (!System.IO.Path.EndsInDirectorySeparator(Context.Request.Path)) {
            path = "Articles/" + item.Path;
        }
        <li>
            <a href="@path" @if(item.Read){<text>class="read"</text>}>
                <h3>@item.Title</h3>
                <p>@item.Synopsis</p>
                <p class="author"><em>Written by @item.Author - @item.Modified?.ToString("yyyy-MM-dd")</em></p>
            </a>
        </li>
    }

    if (key != string.Empty)
    {
        @:</details>

    }
}
</ul>