@inject IWebHostEnvironment env
@{
    ViewData["Title"] = "Security";
    ViewData["Author"] = "Jonathan Daigle";
    ViewData["Modified"] = "2023-04-24";
    List<MDArticleModel> parsedArticles = new List<MDArticleModel>();
    string rootPath = System.IO.Path.Combine(env.ContentRootPath, "wwwroot", "Articles", "Security");
    parsedArticles = MDArticleModel.GetArticles(rootPath);
}
<h1>How to protect yourself online</h1>
<!--TODO: There are other attack vectors we should cover, physical access and USB drives included-->
<p>Contrary to the marketing, there is no software that can give you your computer total protection. The most
    effective defense will always be your own habits. The best part of that, is that there is no subscription
    fee for good habits. Reading this article will help you build safe browsing habits and learn how to protect
    yourself and your computer.</p>
<p>Please find below a list of articles you can read to learn how to make your computing experience easier and
    more secure.</p>
<ul class="blocklist singlecolumn">
@foreach (MDArticleModel parsedArticle in parsedArticles.OrderBy(x => x.Title)) {

    if (!string.IsNullOrWhiteSpace(parsedArticle.Name))
    {
        bool? value = (bool?)ViewData["article_" + parsedArticle.Name];
        if (value != null && (bool)value)
        {
            parsedArticle.Read = true;
        }
    }
    string strModified = "";
    string articleClass = "";

    if (parsedArticle.Modified != DateTime.MinValue) {
        strModified = " | " + ((DateTime)parsedArticle.Modified).ToString("yyyy-MM-dd");
    }

    string path = parsedArticle.Path;
    
    if (!System.IO.Path.EndsInDirectorySeparator(Context.Request.Path)) {
        path = "Security/" + path;
    }

    <li>
        <a href="@path" @if(parsedArticle.Read){<text>class="read"</text>}>
            <h3>@parsedArticle.Title</h3>
            <p>@parsedArticle.Synopsis</p>
            <p class="author"><em>Written by @parsedArticle.Author@strModified</em></p>
        </a>
    </li>
}
</ul>