﻿@{
    ViewData["Title"] = "Home";
    ViewData["Author"] = "Jonathan Daigle";
    ViewData["Modified"] = "2024-06-11";
}

<h1>What is Kaisev?</h1>
<p>Kaisev is the name and brand attributed to a set of various services and projects, owned and operated by Jonathan Daigle and company. Currently in progress is a series of learning materials, geared towards educating the uneducated about learning to use modern computers, early thoughts are available below on our article, <a asp-controller="Articles" asp-action="Security">How to Protect Yourself Online</a>.</p>
<p>I am a software developer with more than @(DateTime.Now.Year - 2015) years of IT experience. In my time I have seen the absolutely abysmal state of the general public's knowledge on Information Technology. I believe these issues are systematic, not inherent, indicative of the failures of rote learning that is so prevalent. I intend to use <a href="//en.wikipedia.org/wiki/Meaningful_learning">meaningful learning</a> strategies to help undo the many years of damage, and teach people IT competence.</p>
<h2>Articles</h2>
<p>Below are some articles we suggest reading regarding security and technology</p>
<ul class="blocklist">
<li>
    <a asp-controller="Articles" asp-action="S-210">
    <h3>S-210 Open Letter</h3>
    <p>An open Letter to House of Commons of Canada Regarding Bill S-210</p>
    </a>
<li>
<li>
    <a asp-controller="Articles" asp-action="Security">
    <h3>How to protect yourself online</h3>
    <p>Kaisev's article on protecting yourself from malware and basic Internet Security. This is a guide meant for beginners</p>
    </a>
<li>
    <a href="/Articles/Security/software">
    <h3>Recommended Security Software</h3>
    <p>A list of software that we recommend for improving your computer's security and making your computer experience faster and easier.</p>
    </a>
<li>
    <a href="//www.xudongz.com/blog/2017/idn-phishing">
    <h3>Unicode Domain Vulnerability</h3>
    <p>An article about using unicode characters to create believable phishing domains that appear to have valid SSL for real domains. A strong argument for using password managers.</p>
    </a>
<li>
    <a href="//gist.github.com/technion/65c652194fb1427e6828ea23ff46d280">
    <h3>Password Security Policy References</h3>
    <p>Technion's list of references for strong password security policies.</p>
    </a>
</ul>
<details>
<summary id="kaisev_users" class="onclick">
    <h2>Kaisev Users</h2>
</summary>
<p>If you have been given access to Kaisev services, this section is for you!</p>
<ul class="blocklist">
    <li>
    <a href="//media.kaisev.net">
        <h3>Kaisev Jellyfin</h3>
        <p>The portal for the Kaisev Jellyfin home media server. This server has access to over 1.5TB of media and counting.</p>
    </a>
    <li>
    <a href="//drive.kaisev.net">
        <h3>Kaisev Nextcloud</h3>
        <p>Nextcloud cloud storage hosted on Kaisev servers, providing secure and private data storage and synchronization services</p>
    </a>
</ul>
</details>
