﻿@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Author"] = "Jonathan Daigle";
    ViewData["Modified"] = "2023-03-10";
}
<h1>@ViewData["Title"]</h1>
<p>By using this website and web applications/services hosted on Kaisev.net you are agreeing to the following policy.</p>
<p>This policy may be changed at any time without notice.</p>
<h2>Data collected by third parties</h2>
<p>Various services provided by sub-domains of Kaisev.net rely on third party services, and may be subject to the privacy policy of those services. In this case, a link to the third party privacy policy will be supplied on the page in question. The third-party privacy policies in effect on Kaisev.net sub-domains are listed below:</p>
<ul>
    <li>Nextcloud Privacy Policy: <a href="//nextcloud.com/privacy/">nextcloud.com/privacy/</a></li>
</ul>
<h2>Personally identifiable information</h2>
<p>Personally identifiable information is only collected as explicitly provided by the user for the purpose of (1) creating an account for authentication to one of our services, (2) associating contact information with such an account, and (3) any data uploaded to storage services that may be personally identifiable. This information includes usernames, passwords, email addresses, phone numbers, and any data a user willingly stores with Kaisev.net's storage services.</p>
<h2>Non-personally identifiable information</h2>
<p>We collect non-personally identifiable information whenever you use Kaisev.net. Non-personally identifiable information may include the browser name, public IP address, the type of computer, and other technical information provided by your web browser.</p>
<p>We may also collect data used to verify and authenticate your account in the form of a username, password, and email address.</p>
<p>The use of our Nextcloud service sends anonymized statistics to Nextcloud.com, as specified in their privacy policy: <a href="//nextcloud.com/privacy/">nextcloud.com/privacy/</a></p>
<h2>Cookies</h2>
<p>Kaisev.net uses cookies only when necessary for authentication and delivery of services.</p>
<h2>Usage of Information</h2>
<p>Kaisev.net may collect and use personal information you or your web browser provide to improve our services through general analytics and usage statistics, and to contact you with regards to your account or services being provided.</p>
<p>Data is transmitted and stored using reasonable modern practices. Kaisev.net accepts no liability for data breaches or compromises. Our services are not suitable for storing controlled data, such as data falling under the control of FOIPPA, HIPPA, or PCI standards.</p>
<p>Kaisev.net administrators reserve the right to access and view stored data, including personal data stored using storage services, in cases where abuse is suspected.</p>
<p>We will disclose any information required by law, including but not limited to information disclosed to law enforcement agencies</p>
<h2>Third Party Sites</h2>
<p>Kaisev.net contains links to third parties. We do not control these third parties or their sites, and are not responsible for their content or behavior. Users may be subject to the terms and policies of third party sites by accessing said sites.</p>