@inject IWebHostEnvironment env
@{
    var pages = new List<SiteMapModel>();
    
    // Articles
    List<MDArticleModel> parsedArticles = new List<MDArticleModel>();
    string articlesPath = System.IO.Path.Combine(env.ContentRootPath, "wwwroot", "Articles");

    DateTime DefaultDate = System.IO.File.GetLastWriteTime(System.Reflection.Assembly.GetExecutingAssembly().Location);

    foreach (var article in MDArticleModel.GetArticles(articlesPath))
    {
        pages.Add(new SiteMapModel{
            Loc = $"https://{Context.Request.Host.Host}/Articles/{article.Path}",
            LastMod = (article.Modified ?? DefaultDate).ToString("yyyy-MM-dd")
        });

    }
    
    // I couldn't get the EndpointsDataSource working with the new template to map these automatically
    // That's not a huge deal, as they're pretty static anyway
    string[] paths =
    {
        "",
        "sitemap",
        "Privacy",
        "Resources",
        "Articles",
        "Articles/Security",
    };

    foreach (string path in paths)
    {
        pages.Add(new SiteMapModel
            {
                Loc = $"https://{Context.Request.Host.Host}/{path}",
                LastMod = DefaultDate.ToString("yyyy-MM-dd")
            });
    }
    Layout = null;
    Context.Response.ContentType = "text/xml";
}
<?xml version='1.0' encoding='UTF-8' ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    @foreach (var endpoint in pages)
    {
        <url>
            <loc>@endpoint.Loc</loc>
            <lastmod>@endpoint.LastMod</lastmod>
        </url>
    }
</urlset>   