@font-face {
    font-family: inter;
    src: url(/resources/Inter-Regular.otf);
}

body {
    font: 1rem 'Letter Gothic Standard', sans-serif;
    background: url(/resources/background.jpg) no-repeat fixed black;
    margin: 0;
}

#wrapper {
    position: absolute;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    transition: all .2s;
    color: #0072BC;
}

a:hover {
    color: #00CCFF;
}

a.button {
    display: inline-block;
    color: #0072BC;
    padding: 10px;
    transition: all .25s ease;
    border-radius: 5px;
    border: 1px solid black;
}

a.button:hover {
    color: white;
    background-color: #0072BC;
    border-color: transparent;
}

header {
    background-color: #1d1d1d;
    display: inline-block;
    padding: 0 12.5%;
    width: 100%;
}

#warning {
    background: #BC0072;
    margin: 0 0 0 32.5%;
    position: relative;
    padding: 5px 2.5%;
    text-align: left;
    color: white;
    z-index: 10;
    width: 50%;
    top: 50px;
}

#topcontact {
    float: right;
}

#topcontact a {
    transition: all .25s ease;
    display: inline-block;
    background: #1d1d1d;
    padding: 5px 10px;
}

#topcontact a:hover {
    background: #0072BC;
}

#topcontact a * {
    height: 40px;
    width: 40px;
    margin: 0;
}

#topcontact a+.drop {
    background: #1d1d1d;
    transition: all .2s;
    text-align: center;
    line-height: 50px;
    color: white;
    display: none;
    height: 50px;
    left: -80px;
    z-index: 8;
    top: 50px;
    right: 0;
}

#topcontact a:hover+.drop,
#topcontact a+.drop:hover {
    display: block;
}

#logo {
    color: white;
    height: 50px;
    float: left;
}

#logo:hover {
    background-color: transparent;
}

#logo h1 {
    font: 100 2.4rem/50px "helvetica", sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 0.15px;
    margin: 0 10px;
    float: left;
    padding: 0;
}

.inter-loaded #logo h1 {
    font: 100 2.4rem/50px "inter", sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
}

#logo img {
    border: none;
    height: 50px;
    float: left;
    width: 50px;
}

header nav {
    line-height: 50px;
    font-size: 1.8em;
    margin: 0 auto;
    color: white;
}

header nav a {
    display: inline-block;
    transition: all .3s;
    text-align: center;
    padding: 0 1.25%;
    color: white;
    opacity: .5;
}

header nav a:hover {
    background: #0072BC;
    cursor: pointer;
    color: white;
    opacity: 1;
}

header nav .selected {
    background: #0072BC;
    cursor: default;
    opacity: 1;
}

header nav .selected:hover {
    cursor: default;
}

article {
    margin: 0 12.5% 2em 12.5%;
    padding: 1em 2.5% 1em 2.5%;
    background: white;
}

article nav {
    border-left: solid 3px #0072BC;
    padding-left: 20px;
}

article img {
    max-width: 100%;
}

h1 {
    font: 2em "helvetica", sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 0.15px;
    text-align: left;
}

.inter-loaded h1 {
    font: 2em "inter", sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
}

h2 {
    font: 1.5em "helvetica", sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 0.15px;
}

.inter-loaded h2 {
    font: 1.5em "inter", sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 3rem;
}

code {
    font: 14px "Consolas";
    display: inline-block;
    background: #ffeedd;
}

blockquote {
    border-left: 8px solid lightsalmon;
    padding: 1rem 0 1rem 1rem;
    background-color: #eee;
}
blockquote p:last-child {
    margin-bottom: 0;
}

table {
    background-color: white;
    margin: 0 auto;
}

td {
    border-top: 2px solid #888;
    text-align: left;
}

th {
    text-align: left;
}

table,
td {
    border-collapse: collapse;
    padding: .3em 4em .3em 0;
}

table h3 {
    text-align: center;
}

details {
    transition: all .5s;
    width: 100%;
    overflow: hidden;
}

details summary {
    transition: all .2s;
    background: #942525;
    width: 100%;
    cursor: pointer;
    display: block;
    color: white;
    margin: 5px 0;
}

details summary h2 {
    padding: 10px 3.55%;
    display: block;
    width: 92.9%;
    margin: 0;
}

summary::marker {
    display: none;
}

details[open] summary~* {
    animation: detailsExpand .3s ease;
}

@keyframes detailsExpand {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

details summary:hover {
    background: #0072BC;
}

details[open] summary {
    background: #0072BC;
}

.blocklist {
    column-count: 2;
    width: 100%;
    padding: 0;
}

.singlecolumn {
    column-count: 1;
}

.blocklist li {
    list-style: none none;
    display: inline-block;
    width: 100%;
}

.blocklist li a {
    color: black;
    width: 100%;
    border: 4px solid #eee;
    display: inline-block;
    padding: 5px 2%;
    border-radius: 5px;
    margin: 0.5rem 0;
}

.blocklist li a p {
    float: left;
}

.blocklist li .author {
    float: right;
}

.blocklist li p a {
    padding: 1px;
    border: none;
    display: initial;
    border-radius: unset;
    background-color: white;
}

.blocklist li img {
    margin: 1rem;
    display: block;
    box-shadow: 5px 5px 10px grey;
    max-width: -moz-available;
    max-width: -webkit-fill-available;
}

.blocklist li p~a,
.blocklist li p>a {
    color: rgb(0, 114, 188);
    width: auto;
}

.blocklist li+a:hover {
    color: white;
}

.blocklist li a:hover {
    background-color: rgb(0, 114, 188);
    border-color: rgb(0, 114, 188);
    color: white;
}
.blocklist li a.read {
    background-color: rgb(80, 150, 80);
    border-color: rgb(80, 150, 80);
    color: white;
}

footer {
    border: 2px solid rgb(0, 114, 188);
    background-color: black;
    width: fit-content;
    overflow: hidden;
    font-size: .8em;
    display: block;
    color: white;
    margin: 0 auto;
    padding: 0 1%;
    height: auto;
}

footer p {
    margin: 5px;
}

@media (pointer: coarse),
(hover: none) {
    a:hover {
        color: #0072BC;
    }

    #topcontact a:hover {
        background: #1d1d1d;
    }

    nav a:hover {
        background-color: inherit;
    }

    details summary:hover {
        background: #942525;
    }

    details[open] summary:hover {
        background: #0072BC;
    }

    .blocklist li+a:hover {
        color: inherit;
    }

    .blocklist li a:hover {
        background-color: inherit;
        border-color: #eee;
        color: black;
    }

    .blocklist li p~a:hover,
    .blocklist li p>a:hover {
        color: rgb(0, 114, 188);
    }

    nav a:hover {
        opacity: .5;
    }

    nav .selected:hover {
        background: #0072BC;
        opacity: 1;
    }
}

@media (max-width:1130px) {
    header {
        width: 100%;
        padding: 0;
    }

    article {
        margin: 0 0 2em;
    }

    footer {
        right: 15%;
        left: 15%;
    }
}

@media (max-width:770px) {
    nav a {
        text-align: left;
        padding: 0 2.5%;
        width: 100%;
    }

    #warning {
        top: 125px;
    }

    .blocklist li a {
        margin: 0.5rem 0;
        display: inline-block;
        height: auto;
        width: 100%;
    }

}

@media (max-width:420px) {
    .blocklist {
        column-count: 1;
        width: 100%;
        padding: 0;
    }
    #topcontact {
        float: left;
    }
}